:root{
    --bg-color: #121212;
    --text-primary: #e0e0e0;
    --accent-color: #FF6F61;
    --surface-color: #1A1A1A;
}



body {
    font-family: "Courier New", Arial, sans-serif; 
    background-color: var(--bg-color);
    color: var(--text-primary);
}

body.default {
    max-height: 100vh;
}

body.graph-mode {
    height: 100vh;                                   /* how the box model behaves */
    margin: 1rem;
    
    font-family: "Courier New", Arial, sans-serif;   /* how content behaves */

    display: flex;                                   /* how children behave */
    flex-direction: column;
}

header {
    /* border: 1px solid var(--accent-color); */

    font-size: 1.5rem;
    text-align: center;
}

.graph-mode .main-body {
    flex: 1;        /* fill remaining space after header */
    min-height: 0;
 
    display: flex;
    gap: 1rem;
}

.tools {
    width: 10%;
    border: 1px solid var(--accent-color);
    border-radius: 15px;

    font-size: 1rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tools button {
    flex: 1;
    width: 50%;
    min-height: 5rem;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 15px;

    
    font-size: .5em;
    text-align: center;
}

.results-window {
    border: 1px solid var(--accent-color);
    border-radius: 15px;
    flex: 1;
    
    text-align: center;
    
    display: flex;
    flex-direction: column; 
}

.graph-mode .results-title {
    border-bottom: 1px solid var(--accent-color);
    padding-left: 1rem;

    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 1rem;
}

.graph-mode .search-box {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#query {
    width: 50%;
    height: 75%;
}

.graph-mode #results-content { 
    flex: 1;
    margin-right: 1rem;
    margin-left: 1rem;
    /*border: 1px solid var(--accent-color);*/

    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;  
}

.note {
    border: 1px solid var(--accent-color);
    background-color: var(--surface-color);
    border-radius: 15px;
    
    overflow-wrap: break-word;  
}
